* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{  
  background-color: #FDF2FF;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --primary: #68008C;
  --secondary: #231B80;
  --terceary: #060046;
  --red: #eacaf7;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;
  --lightpurple: #9B5EB0;
}