.titulo2 {
    padding-top: 5rem;
    font-size: 3rem;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto_grande, .texto_vermelho {
    font-size: 300px;
    color: var(--primary);
    font-weight: bold;
}

.texto_vermelho {
    font-size: 2.5rem;
    padding-bottom: 5rem;
}
