.titulo2 {
    color: var(--lightpurple);
    padding-top: 5rem;
    font-size: 4rem;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto_grande, .texto_vermelho {
    font-size: 200px;
    color: var(--primary);
    font-weight: bold;
}

.texto_vermelho {
    font-size: 3.5rem;
    padding-bottom: 5rem;
}

@media only screen and (max-width: 550px){
    .titulo2 {
        text-align: center;
        color: var(--lightpurple);
        padding-top: 3rem;
        font-size: 1.5rem;
    }
    
    .textos {
        text-align: center;
    }
    
    .texto_grande, .texto_vermelho {
        font-size: 80px;
    }
    
    .texto_vermelho {
        font-size: 1.8rem;
        padding-bottom: 5rem;
    }
}